<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Shopping Cart</display-name>
    <description>
      This is a shopping cart application
    </description>

    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>com.test.App</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>

</web-app>
